USE [master]
GO
DROP DATABASE [GIO]
GO
/****** Object:  Database [GIO]    Script Date: 20/12/2021 10:07:02 ******/
CREATE DATABASE [GIO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GIO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\GIO.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'GIO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\GIO_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GIO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GIO]
GO
/****** Object:  Table [dbo].[tClient]    Script Date: 20/12/2021 10:07:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tClient](
	[NIF] [varchar](50) NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[APELLIDOS] [varchar](50) NULL,
	[EDAD] [int] NULL,
 CONSTRAINT [PK_tClient] PRIMARY KEY CLUSTERED 
(
	[NIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tEye]    Script Date: 20/12/2021 10:07:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tEye](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NIF] [varchar](50) NOT NULL,
	[CONSULTA] [date] NULL,
	[OD_ESFERA] [decimal](3, 2) NULL,
	[OD_CILINDRO] [decimal](3, 2) NULL,
	[OD_ADICION] [int] NULL,
	[OD_AGUDEZA] [int] NULL,
	[OI_ESFERA] [decimal](3, 2) NULL,
	[OI_CILINDRO] [decimal](3, 2) NULL,
	[OI_ADICION] [int] NULL,
	[OI_AGUDEZA] [int] NULL,
 CONSTRAINT [PK_tEye] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[tEye]  WITH CHECK ADD  CONSTRAINT [FK_tEye_tClient] FOREIGN KEY([NIF])
REFERENCES [dbo].[tClient] ([NIF])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tEye] CHECK CONSTRAINT [FK_tEye_tClient]
GO
USE [master]
GO
